* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://images8.alphacoders.com/112/1122747.jpg");
    background-attachment: fixed;
}

.searchBar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField{
    outline: none;
}

.searchBarParentDiv{
    width: 50%;
    height: fit-content;
    border-radius: 25px;
    position: relative;
}

.inputField {
    width: 100%;
    border-radius: 25px;
    padding: 10px;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 9px;
}

.searchIcon:hover {
    cursor: pointer;
}

.mainContentDiv {
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.leftDiv {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightDiv {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.leftChild {
    background: rgb(212, 212, 212, 0.4);
    width: 85%;
    height: 40vh;
    margin: auto;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.currentTemprature {
    color: black;
    font-size: larger;
}

#CityName {
    font-size: x-large;
}

#CityTemp {
    font-size: xx-large;
}

#comingDaysTitle {
    font-size: x-large;
}

.nextFiveDays {
    color: black;
}

.rigthRow {
    height: 27vh;
    width: 100%;
}

.extraMetric {
    background: rgb(212, 212, 212, 0.4);
    display: flex;
    width: fit-content;
    padding: 5% 2%;
    border-radius: 15px;
    align-items: center;
    gap: 10px;
}

.rowOne {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.rowTwoDiv {
    background: rgb(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    width: 45%;
    height: 85%;
    border-radius: 15px;
    color: black;
}

.rowTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.todayTemp {
    background: rgb(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    width: fit-content;
    border-radius: 15px;
    color: black;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.rowThree{
    color: black;
}

@media only screen and (max-width:767px) {

    .searchBar{
        width: 100%;
    }

    .searchBarParentDiv{
        width: 85%;
    }

    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .rightDiv{
        width: 100%;
    }

 .mainContentDiv {
  height: 90vh;
  display: flex;
  flex-direction: column;
  }

  .rigthRow {
    height: 30vh;
    width: 100%;
    }

  .rowOne{
    width: 85%;
    flex-wrap: wrap;
    margin: auto;
  }

  .rowTwo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }

  .rowTwoDiv {
    background: rgb(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    width: 85%;
    height: 85%;
    border-radius: 15px;
    color: black;
}

  .todayTempParentDiv{
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    gap: 15px;
  }

  .rowThree{
    width: 85%;
    margin: auto;
  }
}
